@page "/"

<h1>Games Done Quick Companion</h1>

<ScheduleList></ScheduleList>



@code {
    async Task ShowAlert()
    {
        //await DisplayAlert("Alert", "You have been alerted", "OK");
        //this.GetType().nam
    }

}